html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  max-width: 600px;
  background-color: #25652B; 
}

.game-area {
  width: 100%;
  height: 390px;
  background: gray;
  position: relative;
  overflow: hidden;
}

.ghost-game-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.pill {
  display: block;
  position: absolute;
  width: 15px;
  height: 20px;
  background-color: black;
  z-index: 2;
}

.pill-1 {
  bottom: 50px;
  right: 130px;
}
.pill-2 {
  top: 50px;
  left: 30px;
}
.pill-3 {
  top: 200px;
  left: 100px;
}
.pill-4 {
  bottom: 250px;
  right: 70px;
}

.pill-found::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  border: 4px solid #70B727;
  filter: drop-shadow(0px 0px 8px #000000);
  border-radius: 100%;
  top: -16px;
  left: -19px;
  transition: 300ms all ease-in-out;
}

.pill-found::after {
  content: attr(data-found-text);
  position: absolute;
  top: -60px;
  left: -60px;
  font-size: 33px;
  color: white;
  font-weight: 700;
  text-shadow: 0px 0px 24px #000000;
  transform: rotate(-8.63deg);
  opacity: 0;
  animation-name: foundText;
  animation-duration: 1000ms;
}

.to-find {
  display: flex;
  justify-content: center;
}

.toFind {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  margin: 10px;
  transition: 300ms background-color ease-in-out;
}

.toFind-found {
  background-color: #96C11F;
  opacity: 0.78;
}

@keyframes foundText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-200px) scale(3) rotate(-8.63deg);
  }
}